<div class="container">
    <h1>Contato</h1>
    <p>Entre em contato conosco e acompanhe o projeto SIME através das redes e repositórios abaixo:</p>
    <div class="links">
        <a href="https://github.com/etec-SIME" target="_blank" rel="noopener">
        <span class="icon">🐙</span> GitHub Etec-SIME
        </a><br />
        <a href="https://github.com/SIME-tcc" target="_blank" rel="noopener">
        <span class="icon">🐙</span> GitHub SIME-TCC
        </a><br />
        <a href="https://www.instagram.com" target="_blank" rel="noopener">
        <span class="icon">📸</span> Instagram
        </a><br />
        <a href="https://www.linkedin.com" target="_blank" rel="noopener">
        <span class="icon">🔗</span> LinkedIn
        </a>
    </div>
</div>