<footer>
  <div class="footer-content">
    <h2>Links Úteis</h2>
    <section class="links-uteis">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/sobre">Sobre</a></li>
        <li><a routerLink="/contato">Contato</a></li>
      </ul>
    </section>

    <section class="redes-sociais">
      <h2>Redes Sociais</h2>
      <ul>
        <li><a href="https://www.facebook.com">Facebook</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        <li><a href="https://x.com/">X</a></li>
      </ul>
    </section>
  </div>
</footer>
